*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(220,220,220);
}

.center{
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 2%;
}

.header{
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 2px solid rgb(230,230,230);
}

.header__logo{
  width: 50%;
}

.header__logo img{
  height: 29px;
}

.header__loginForm{
  width: 50%;
  text-align: right;
}

.header__loginForm form{
  display: inline-block;
}

.header__loginForm input[type=text],
.header__loginForm input[type=password]{
  width: 180px;
  height: 30px;
  border: 1px solid #ccc;
  margin-right: 5px;
  padding-left: 10px;
  border-radius: 10px;
}

.header__loginForm input[type=button]{
  padding-left: 50px;
  background-color: #000;
  color: #fff;
  border: 0;
  height: 30px;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
}

.btn__criarConta{
  display: inline-block;
  padding-left: 10px;
}

.btn__criarConta a{
  font-size: 14px;
  margin: 0 10px;
}

.header__logadoInfo{
  text-align: right;
  width: 50%;
}

.header__logadoInfo a{
  margin: 0 10px;
  background-color: #000;
  color: #fff;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
  text-decoration: none;
}

.area-login, .area-criarConta{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.login{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%); /* Obrigatório */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 400px;
  height: 350px;
  padding: 35px;
  border-radius: 10px;
}

.login form{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.login input{
  margin-top: 10px;
  border-color: #000;
  height: 45px;
  outline: none;
  border-radius: 8px;
  padding-left: 10px;
}

.login img{
  width: 150px;
  height: auto;
}

input::placeholder{
  font-size: 14px;
}

.login form [type=submit]{
  display: block;
  background-color: black;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

.login p{
  padding-top: 30px;
  font-style: italic;
}

.login a{
  color: #000;
  margin-left: 8px;
  font-style: italic;
  cursor: pointer;
}

.close-modal-criar{
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
  width: 30px;
  text-align: center;
  color: #fff;
  line-height: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #000;
}


.modalUpload{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.formUpload{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  text-align: center;
}

.formUpload input{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
}

.formUpload input[type=submit]{
  background-color: #0095f6;
  cursor: pointer;
  color: #fff;
}

.postSingle{
  background-color: #fff;
  max-width: 700px;
  margin: 10px auto;
}

.postSingle img{
  width: 100%;
}

.postSingle p{
  padding: 10px;
}

.postSingle form{
  padding: 20px;
}

.postSingle textarea{
  width: 100%;
  height: 120px;
  border: 1px solid #ccc;
  padding: 10px;
}

.postSingle input[type=submit]{
  background-color: #0095f6;
  cursor: pointer;
  color: #fff;
  border: 0;
  padding: 8px 10px;
}

.coments{
  margin-left: 20px;
}

.coments h2{
  border-bottom: 1px solid #4b4b4b;
  padding: 8px 0;
  color: #4b4b4b;
  font-size: 16px;
}

.coment-single p{
  font-size: 14px;
}