*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(220,220,220);
}

.center{
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
}

.header{
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 2px solid rgb(230,230,230);
}

.header__logo{
  width: 50%;
}

.header__logo img{
  height: 29px;
}

.header__loginForm input[type=text],
.header__loginForm input[type=password]{
  width: 180px;
  height: 30px;
  border: 1px solid #ccc;
  margin-right: 5px;
  padding-left: 10px;
  border-radius: 10px;
}

.header__loginForm input[type=submit]{
  padding-left: 50px;
  background-color: #000;
  color: #fff;
  border: 0;
  height: 30px;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;

}